<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1620177088260-a9150572baf4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1776&q=80);">
  <div class="container">
    <h1>Curated Movies List</h1>
    <p>Find the perfect choice for your movie night!</p>
  </div>
</div>
<%= link_to 'Create New List', new_list_path, class: "btn btn-flat" %>
<div class="container_grid">
  <% @lists.each do |list| %>
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= link_to list.name, list_path(list) %>
      </div>
    </div>
  <% end %>
</div>
