// Define variables for your color scheme

// For example:
$red: #ff0a54;;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$gray: #444444;
$off-white: #EDF2F4;
$light-red: #ff0a54;
$dark-red: #D90429;
$dark-gray: #161a1d;
